In [3]:
# caracteristicas: pelo longo? 0/1 -  perna curta? 0/1 - faz auau? 0/1
porco1 = [0,1,0]
porco2 = [0,1,1]
porco3 = [1,1,0]

cachorro1 = [0,1,1]
cachorro2 = [1,0,1]
cachorro3 = [1,1,1]

# tenhos esses animais (treino_x)
treino_x = [porco1, porco2, porco3, cachorro1, cachorro2, cachorro3]
# e eles são classificados como porco (1) e cachorro (0)
treino_y = [1,1,1,0,0,0] # 3 porcos e 3 cachorros

In [4]:
from sklearn.svm import LinearSVC
modelo = LinearSVC()
modelo.fit(treino_x, treino_y) # treinamos o modelo com essas infromações

LinearSVC()

In [6]:
animal_misterioso =  [1,1,1] # animal com pelo longo, perna curta e faz auau
modelo.predict([animal_misterioso]) # faz o modelo predizer que animal é esse e se tudo der certo ele deve retornar 0 (cachorro)

array([0])

In [7]:
misterio1 = [1,1,1]
misterio2 = [1,1,0]
misterio3 = [0,1,1]

teste_x = [misterio1,misterio2,misterio3]
teste_y = [0,1,1]

In [8]:
previsoes = modelo.predict(teste_x)
previsoes

array([0, 1, 0])

In [11]:
from sklearn.metrics import accuracy_score
# dado os resultados esperados e a previsão, qual é a precisão da predição do meu modelo? 
accuracy_score(teste_y,previsoes) # 0.66 ou 66%

# é possivel usar um dummyClassifier para verficar a precisão do modelo, 
# pensando que a precisão do modelo tem que ser maior que a do dummyClassifier que faz a classificação de maneira "burra"
# (maneira aleatória ou chutando com base em qual tem mais etc.)

0.6666666666666666

In [13]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"

dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [15]:
dados.sample(5)

    home  how_it_works  contact  bought
14     0             0        1       0
42     0             1        0       0
98     0             0        0       0
89     1             0        1       1
10     1             1        0       1

In [16]:
x = dados[["home", "how_it_works", "contact"]]
x.head()

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0

In [17]:
y = dados["bought"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [26]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
modelo = LinearSVC()

# divide nossos dados para dados para treino e dados para teste
treino_x, teste_x, treino_y, teste_y = train_test_split(x,y)

modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)
accuracy_score(teste_y, previsoes) * 100

96.0

In [23]:
# Coisas de python - atribuindo retorno as variáveis
def retorna_5_numeros():
    return 1,2,3,4,5

a,b,c,d,e = retorna_5_numeros()
a,e

(1, 5)